body {
  color: white;
  margin: 0 auto;
  font-size: 1rem;
  background: #020617;
  width: 100%;
  max-width: 1600px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
  margin: 0;
  padding-top: 50px;
  font-size: 2rem;
  text-align: center;
}

button, select {
  padding: 10px 15px;
  cursor: pointer;
  color: white;
  border-radius: 999px;
  border: 1px solid #020617;
}

button {
  background: #3b82f6;
}
 
select {
  background: none;
  border: 1px solid #1f2937;
}

option {
  color: black;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background: #00183e;
}

th,
td {
  padding: 10px 15px;
  border: 1px solid #1f2937;
}

.table {
  height: 55vh;
  overflow-y: scroll;
  overflow: auto;
  scrollbar-color: #1f2937 #00183e;
  scrollbar-width: thin;

}

.border-div {
  border-radius: 15px;
  padding: 15px;
  border: 1px solid #1f2937;
}

.load-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 20px;
}

@media (max-width: 1100px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

canvas {
  width: 100% !important;
  height: 100% !important;
}