body {
  color: white;
  margin: 0 auto;
  font-size: 1rem;
  background: #020617;
  width: 100%;
  max-width: 1400px;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

button {
  padding: 10px 15px;
  cursor: pointer;
  background: #3b82f6;
  color: white;
}

table {
  width: 100%;
}

th {
  background: #00183e;
}
